a {
    text-decoration: none;
}

.main_icon {
    width: 135px;
    height: 135px;
}

.fes_container {
    
    height: 100%;
    display: flex;
    width: 100%;
}



.banner{
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.banner_info{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgba(111, 79, 40, 0.6);
    margin-right: 100px;
    margin-bottom: 150px;
    width: 400px;
    height: 350px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.banner_info h2,h5 {
    text-align: center;
    color: white;
    font-weight: 700;
    margin: auto;
}
.banner_info_day {
    background-color: #964B00;
    margin: auto; 
    width: 100%;
    
}
.card_title {
    font-size: 15px;
    font-weight: 600;
    margin: auto;
    padding: 10px;
}


/* Restaurant Page CSS */

.gu_btn_box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
    
    
}

.gu_btn_box div {
    padding: 20px 24px;
    color: white;
    cursor: pointer;
    margin: auto;
    font-size: medium;
    font-weight: 700;
}
.gu_btn_box div.clicked {
    background-color: #0EB4FC;
    border-radius: 24px;
    
}

.month_btn_box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
    background-color: black;
}
.month_btn_box div {
    padding: 20px 24px;
    color: white;
    cursor: pointer;
    margin: auto;
    font-size: medium;
    font-weight: 700;
}
.month_btn_box div.clicked {
    background-color: #FFA500;
    border-radius: 24px;
    
}

.res_banner {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    
    
    
}

.card_Box {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    gap: 30px;
}
.card-container {
    width: 30%;
    margin-bottom: 20px;
}

.card_Box2 {
    margin: auto;
    margin-bottom: 20px;
}

.nodata_container {
    height: 400px;
    display: flex;
    align-items: center;
    margin: auto;
}
.nodata_box {
    background-color: white;
    height: 200px;
    text-align: center;
}

.nodata_container h1{
    color: #FFA500;
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    margin-top: 70px;
}

/* BusanInfo Component CSS */

.busan_info_container{
    width: 80%;
    margin: auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    
}


.busan_info_card a {
    color: #FFA500;
    
}

.busan_info_card p {

    color: black;
    font-size: medium;
    font-weight: 600;
}

/* Footer Component CSS */

.footer_container {
    background-color: #464a48;
    color: #eaeaea;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.footer_title {
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    width: 100%;
    height: 100px;
    margin: 0;
    font-size: large;
    font-weight: 700;
    text-align: center;
}


.footer_Box {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    font-size: medium;
}
    


.footer_box1 {
    flex: 1;
    text-align: center;
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    
}


/* Detail Component CSS */
.detail_container{
    display: flex;
    flex-direction: column;
}

.detail_title_box {
    margin-top:  50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
        
    padding: 20px 30px;
}
.detail_title_box h1 {
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 50px;
}
.detail_title_box p {
    margin-top: 30px;
    font-weight: 500;
}


.detail_img_box {
    background-size: cover;
    background-position: center;
    height: 500px;
    
}

.detail_nav_box {
    display: flex;
    justify-content: space-around;
    margin: 50px 0;
}

.detail_nav_box button:hover{
    color: #FFA500;
}
.detail_info_box {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 30px;
    margin: auto;
    height: 350px;
    width: 100%;

}
.detail_info_box1 {
    flex: 1;
    margin: auto;
    padding: 20px;
    
}
.detail_info_box1 h4{
    font-weight: 700;
    font-size: large;
    margin-left: 20px;
    margin-top: 15px;
}
.detail_info_box1 p {
    margin-left: 20px;
    
}
.detail_info_box2 {
    text-align: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    padding: 20px;
}
.detail_info_box::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1px;
    height: 70%;
    background-color: #000000;
}

.guide_container {
    border: solid 1px black;
    border-radius: 12px;
    width: 95%;
    margin: auto;
    
}

.guide_info {
    display: flex;
    align-items: flex-start;
    padding: 10px;
    margin: auto;
    
}

.guide_info p {
    
    margin: 5px;
    width: 200px; /* 원하는 너비로 조정 */
}
.guide_info p:first-child {
    color: #FFA500;
    font-size: large;
    font-weight: 700;
}
.guide_info p:nth-child(2) {
    width: 500px;
    font-size: large;
    font-weight: 500;
}
.info2_container {
    text-align: center;
    border: solid 1px black;
    border-radius: 12px;
    width: 95%;
    margin: auto;
    padding: 30px;
    
}
.map_container {
    display: flex;
}

/* Weather Component CSS */

.weather_container {
    width: 95%;
    margin: auto;
    border: solid 1px black;
    border-radius: 12px;
}
.weather_box {
    display: flex;
    flex-direction: column;
}
.weather_first_box{
    margin-top: 20px;
}

.weather_first_box img{
    width: 100px;
    
}

.weather_second_box {
    border-top: solid 1px black;
    display: flex;
    flex-direction: column;
    
    
}
.weather_second_box_1 {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: auto;
    padding: 20px;
}
.weather_second_box_1 p {
    font-size: 20px;
    font-weight: 600;
}

.weather_second_box_1 span {
    font-size: 15px;
    font-weight: 400;
}

.weather_second_box_2 {
    display: flex;
    text-align: center;
    justify-content: space-between;
    width: 95%;
    margin: auto;
}


/* Map Component CSS */

.map_cards_container {
    margin: auto;
    width: 40%;
    height: 500px;
    overflow-y: auto;
}

.map_cards_title {
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
    width: 95%;
    height: 50px;
    background-color: #FFA500;
    color: white;
    border: solid 1px #FFA500;
}
.map_cards_title h4 {
    margin-top: 10px;
    font-weight: 600;
}

.map_cardItem_btn {
    font-weight: 600;
    width: 100%;
    height: 40px;
    border:  solid 1px #FFA500;
    border-radius: 12px;
    background-color: white;
    color: #FFA500;
}

/* Login Component CSS */

.login_container {
    
    margin-top: 50px;
}
.login_container h1{
    text-align: center;
    font-size: 48px;
    font-weight: 900;
    color: #FFA500;
    margin-bottom: 50px;
    
}

.login_form {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}
.login_form p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}


.login_form input, .login_form button {
    margin: auto;
    margin-top: 10px;
    width: 40%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-weight: 600;
}
.first_login_btn {
    background: rgb(255, 255, 255) url('https://raw.githubusercontent.com/eswarasai/social-login/master/img/google-plus.png') no-repeat scroll 5px 0px / 50px 50px padding-box border-box;
    border: 1px solid rgb(220, 74, 61);
    color: rgb(220, 74, 61);;
}
.first_login_btn:hover {
    border-color: rgb(220, 74, 61);
    background: rgb(220, 74, 61) url('https://raw.githubusercontent.com/eswarasai/social-login/master/img/google-plus-white.png') no-repeat scroll 5px 0px / 50px 50px padding-box border-box;
    -webkit-transition: all .8s ease-out;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease-out;
    color: white;
}

.login_form input[type="submit"] {
    background-color: #FFA500;
    color: white;
    cursor: pointer;
}



/* Search Component CSS */

.search_container {
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}
.search_Box{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    
}

.search_container h1{
    text-align: center;
    font-size: 50px;
    font-weight: 700;
}
.search_form{
    margin-top: 50px;
}
.search_form input{
    padding: 10px;
    margin-right: 2px;
}

.search_form button{
    border: solid 1px black;
    padding: 10px;
    font-weight: 500;
    background-color: #FFA500;
    color: white;
}


/* 반응형 CSS */

@media (max-width: 768px) {
    .main_icon{
        width: 100px;
        height: 105px;
    }
    
    .banner{
        background-size: cover;
        background-position: center;
        height: 400px;
    }
    .banner_info {
        height: 70%;
        width: 50%;
        margin: auto;
    }
    

    .busan_info_container{
        width: 60%;
        display: flex;
        flex-wrap: wrap;
        
        
    }
    
    .login_nav_container{
        margin-left: 100px;
        
    }

    .first_login_btn {
        
        background: rgb(255, 255, 255) url('https://raw.githubusercontent.com/eswarasai/social-login/master/img/google-plus.png') no-repeat scroll 0px 0px / 30px 45px padding-box border-box;
        border: 1px solid rgb(220, 74, 61);
        color: rgb(220, 74, 61);;
    }
    .first_login_btn:hover {
        border-color: rgb(220, 74, 61);
        background: rgb(220, 74, 61) url('https://raw.githubusercontent.com/eswarasai/social-login/master/img/google-plus-white.png') no-repeat scroll 0px 0px / 30px 45px padding-box border-box;
        -webkit-transition: all .8s ease-out;
        -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease-out;
        color: white;
    }
    .detail_container{
        display: flex;
        flex-direction: column;
    }
    .detail_nav_box{
        margin-top: 100px;
    }
    .detail_img_box {
        background-size: cover;
        background-position: center;
        height: 300px;
        width: 100%;
    }
    .card_container {
        display: flex;
        flex-wrap: wrap;
        width: 150px;
        height: 430px;
        
    }

    }
