a {
    text-decoration: none;
}


.banner_container {
    height: 100%;
    display: flex;

}

.banner{
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.banner_info{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgba(111, 79, 40, 0.6);
    margin-right: 100px;
    margin-bottom: 150px;
    width: 400px;
    height: 350px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.banner_info h2,h5 {
    text-align: center;
    color: white;
    font-weight: 700;
    margin: auto;
}
.banner_info_day {
    background-color: #964B00;
    margin: auto; 
    width: 100%;
    
}



/* Restaurant Page CSS */

.gu_btn_box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.gu_btn_box div {
    padding: 20px 24px;
    color: white;
    cursor: pointer;
    margin: auto;
    font-size: medium;
    font-weight: 700;
}
.gu_btn_box div.clicked {
    background-color: #0EB4FC;
    border-radius: 24px;
    
}

.res_banner {
    background-size: cover;
    background-position: center;

    
    
}

.card_Box {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    gap: 30px;
}
.card-container {
    width: 30%;
    margin-bottom: 20px;
}

.card_Box2 {
    margin: auto;
    
}



/* BusanInfo Component CSS */

.busan_info_container{
    width: 80%;
    margin: auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    
}


.busan_info_card a {
    color: #FFA500;
    
}

.busan_info_card p {

    color: black;
    font-size: medium;
    font-weight: 600;
}

/* Footer Component CSS */

.footer_container {
    background-color: #464a48;
    color: #eaeaea;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.footer_title {
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    width: 100%;
    height: 100px;
    margin: 0;
    font-size: large;
    font-weight: 700;
    text-align: center;
}


.footer_Box {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    font-size: medium;
}
    


.footer_box1 {
    flex: 1;
    text-align: center;
    justify-content: space-between;
    
}


/* Detail Component CSS */
.detail_title_box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    height: 200px;    
    padding: 20px 30px;
}
.detail_title_box h1 {
    font-weight: 700;
}
.detail_title_box p {
    font-weight: 500;
}

.detail_img_box {
    background-size: cover;
    background-position: center;

    height: 500px;

}

.detail_info_box {
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 350px;
}
.detail_info_box1 {
    flex: 1;
    
}
.detail_info_box1 p{
    font-weight: 700;
    font-size: large;
    margin-left: 20px;
    margin-top: 15px;
}
.detail_info_box1 span {
    margin-left: 20px;
    
}
.detail_info_box2 {
    text-align: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    padding: 20px;
}
.detail_info_box::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1px;
    height: 70%;
    background-color: #000000;
}



