
.banner_container {
    height: 600px;
}

.banner{
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.banner_info{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgba(111, 79, 40, 0.6);
    margin-right: 100px;
    margin-bottom: 150px;
    width: 400px;
    height: 350px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.banner_info h2,h5 {
    text-align: center;
    color: white;
    font-weight: 700;
    margin: auto;
}
.banner_info_day {
    background-color: #964B00;
    margin: auto; 
    width: 100%;
    
}
